.container {
    display  : 'flex';
    flex-wrap: wrap;
}

.heroInfoTitles {
    font-weight     : bold;
    text-transform  : capitalize;
    font-size       : 22px;
    background-color: lightblue;
}

ul {
    margin   : 0px 20px;
    font-size: 19px;
}

.aliases:nth-child(odd) {
    background-color: lightblue;
}

.aliases:nth-child(even) {
    background-color: lightcyan;
}