
.container {
    display  : 'flex';
    flex-wrap: wrap;
}

.heroInfoTitles {
    font-weight     : bold;
    text-transform  : capitalize;
    font-size       : 22px;
    background-color: lightblue;
}

ul {
    margin   : 0px 20px;
    font-size: 19px;
}

.aliases {
    background-color: white;
}



@media only screen and (min-device-width : 600px)  {

    .heroInfoTitles,
    ul {
        font-size: 30px;
    }
}

@media only screen and (min-width : 1200px) {
    .heroInfoTitles {
        font-size: 25px;
        background-color: white;
    }

    ul {
        font-size: 22px;
    }
}
