.heroInfoTitles {
    font-weight   : bold;
    text-transform: capitalize;
    font-size     : 22px;

}

.heroInfo {
    font-size: 19px;
}

.characteristics:nth-child(odd) {
    background-color: lightblue;
}

.characteristics:nth-child(even) {
    background-color: lightcyan;
}


/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .heroInfoTitles,
    .heroInfo {
        font-size: 30px;
    }
}

/*ipad pro */
@media only screen and (min-device-width : 1024px) and (max-device-height: 1366px) {

    .heroInfoTitles,
    .heroInfo {
        font-size: 40px;
    }
}


@media only screen and (min-width : 1224px) {
    .heroInfoTitles {
        font-size: 25px;
    }

    .heroInfo {
        font-size: 22px;
    }
}