.grid {

    display : grid;
    grid-gap: 10px;

}

.heroInfoTitles {
    font-weight   : bold;
    text-transform: capitalize;
    font-size     : 22px;
    padding-left  : 4px;

}

.heroInfo {
    font-size: 19px;
}

.characteristics {
    border-radius: 6px;
}

.characteristics:nth-child(odd) {
    background-color: lightblue;
}

@media only screen and (min-width : 600px) {

    .heroInfoTitles,
    .heroInfo {
        font-size: 30px;
    }
}


@media only screen and (min-width : 1200px) {
    .heroInfoTitles {
        font-size: 25px;

    }

    .heroInfo {
        font-size: 22px;
    }

    .characteristics:nth-child(odd) {
        background-color: white;
    }
}