/* .searchContainer {
    position        : -webkit-sticky; 
    position        : sticky;
    top             : 0;
    background-color:#000000c4;
}

.searchHeroGrid {
    display              : grid;
    height               : 50px;
    grid-template-rows   : 1fr;
    grid-template-columns: 1fr 1fr 0.3fr 1fr;
   
}

.searchHeroGrid div {
    align-self: center;
}

.icon {
    justify-self: end;
    margin-right: 10px;
}

.icon img {
    height: 30px;
}

.searchInput {
    width        : 90%;
    height       : 25px;
    padding-left : 10px;
    border       : 1px solid black;
    border-radius: 18px;
} */

:root {
    --button-radius    : 8px;
    --button-border    : none;
    --button-height    : 48px;
    --button-top-margin: 10px;
    --button-color     : rgb(0, 0, 0);
}

.searchInput {
    width: 80%;
    border-radius: 25px;
    height: 20px;
    border: 0.5px solid black;
    padding-left: 15px;
    font-size: 20px;
}

.searchButton {
    width        : 70%;
    margin-top   : var(--button-top-margin);
    height       : var(--button-height);
    border-radius: var(--button-radius);
    border       : var(--button-border);

    background-color: rgb(135, 206, 250);
    color           : var(--button-color);
    font-weight     : bold;
    font-size       : 16px;
}

.searchButton:hover,
.searchButton:active {
    background-color: rgba(135, 206, 250, 0.6);

}

/* .searchButton:active {
    background-color: rgba(135, 206, 250, 0.6);
} */
.randomButton {
    width        : 50%;
    margin-top   : var(--button-top-margin);
    height       : var(--button-height);
    border-radius: var(--button-radius);
    border       : 0.6px solid lightskyblue;

    background-color: white;
    color           : var(--button-color);
    font-weight     : 500;
    font-size       : 14px;
}

.searchIconButton {
    border          : none;
    background-color: white;
}

.flex {
    display        : flex;
    justify-content: space-evenly;
}

.interactSearch {
    display              : grid;
    grid-template-columns: 1fr 1fr;
}


/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .searchInput {
        width           : 60%;
        height          : 30px;
        background-color: lightgray;

    }
}

/*ipad pro */
@media only screen and (min-device-width : 1024px) and (max-device-height: 1366px) {}