.image {
    display: grid;
    justify-content: center;
}

.heroData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 47px;
}

.heroStats {
    justify-self: end;
}

.heroBio {
    grid-column-start: 1;
    grid-column-end: 3;
}